fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

# AWS SDK for Python
boto3==1.34.1

# Core ML and Imaging Libraries
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.1
monai[nibabel]==1.3.1
simpleitk==2.3.1
scikit-image==0.22.0
trimesh==4.4.1
pydicom==2.4.4
numpy==1.26.4
fast-simplification==0.1.25
open3d==0.18.0
setuptools